@import 'globals';

.button{
    background-color: $primary-color;
    border-radius: 5rem;
    border: none;
    font-family: "text-font";
    font-weight: bold;
    color: $bg-color;
    padding: 1rem 1.3rem;
}