// @import "globals";

.button{
    background-color: $primary-color;
    border-radius: 80px;
    border: none;
    font-family: "text-font", sans-serif;
    font-weight: bold;
    color: $bg-color;
    line-height: 1.251rem;
}