@font-face {
  font-family: "title-font";
  src: url("../assets/fonts/din/DIN Condensed Bold.woff2") format("woff2"), url("../assets/fonts/din/DIN Condensed Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "subtitle-font";
  src: url("../assets/fonts/arial/Arial.woff2") format("woff2"), url("../assets/fonts/arial/Arial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(30, 100%, 99%);
  color: hsl(0, 0%, 0%);
}

.hero__img {
  margin: 50.31px auto 0;
  display: block;
}
.hero__title {
  text-transform: uppercase;
  color: hsl(339, 77%, 48%);
  font-family: "title-font", sans-serif;
  font-size: 4.375rem;
  text-align: center;
  letter-spacing: 0.175rem;
  line-height: 3.875rem;
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  .hero__img {
    position: absolute;
    margin: 30.31px 36px;
  }
  .hero__title {
    display: none;
  }
}
@font-face {
  font-family: "title-font";
  src: url("../assets/fonts/din/DIN Condensed Bold.woff2") format("woff2"), url("../assets/fonts/din/DIN Condensed Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "subtitle-font";
  src: url("../assets/fonts/arial/Arial.woff2") format("woff2"), url("../assets/fonts/arial/Arial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(30, 100%, 99%);
  color: hsl(0, 0%, 0%);
}

.button {
  background-color: hsl(339, 77%, 48%);
  border-radius: 5rem;
  border: none;
  font-family: "text-font";
  font-weight: bold;
  color: hsl(30, 100%, 99%);
}

@font-face {
  font-family: "title-font";
  src: url("../assets/fonts/din/DIN Condensed Bold.woff2") format("woff2"), url("../assets/fonts/din/DIN Condensed Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "subtitle-font";
  src: url("../assets/fonts/arial/Arial.woff2") format("woff2"), url("../assets/fonts/arial/Arial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(30, 100%, 99%);
  color: hsl(0, 0%, 0%);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.marquee__text {
  font-family: "title-font", sans-serif;
  font-size: 4.612rem;
  text-transform: uppercase;
  color: hsl(339, 77%, 48%);
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@media (min-width: 800px) {
  .marquee__text {
    font-size: 12.875rem;
  }
}
@font-face {
  font-family: "title-font";
  src: url("../assets/fonts/din/DIN Condensed Bold.woff2") format("woff2"), url("../assets/fonts/din/DIN Condensed Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "subtitle-font";
  src: url("../assets/fonts/arial/Arial.woff2") format("woff2"), url("../assets/fonts/arial/Arial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-font";
  src: url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff2") format("woff2"), url("../assets/fonts/century_gothic/Monotype - Century Gothic Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(30, 100%, 99%);
  color: hsl(0, 0%, 0%);
}

.slides-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
  gap: 15px;
  padding: 0 30px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  scroll-snap-align: center;
}
.slide__image-container {
  aspect-ratio: 339/340;
}
.slide__image {
  height: 100%;
  border-radius: 0.625rem;
  object-fit: cover;
  width: 100%;
}
.slide__text-container {
  padding: 0 20px;
}
.slide__title {
  font-family: "title-font", sans-serif;
  text-transform: uppercase;
  color: hsl(339, 77%, 48%);
  font-size: 2.5rem;
  line-height: 2.375rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
  width: 240px;
}
.slide__subtitle {
  font-family: "subtitle-font", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.375rem;
  margin: 7px 0 10px;
  width: 280px;
}
.slide__text {
  font-family: "text-font", sans-serif;
  font-size: 0.813rem;
  line-height: 1.431rem;
  margin: 0 0 20px;
}
.slide__button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.2rem 1rem;
  width: 100%;
}
.slide__button-text {
  font-weight: bold;
}
.slide__num {
  text-align: center;
  font-family: "text-font";
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 50px;
}

.desk-slides-container--show {
  display: none;
}

@media (min-width: 1000px) {
  .slides-container--mobile {
    display: none;
  }
  .desk-slides-container--show {
    display: block;
  }
  .desk-slide {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: auto 1rem;
  }
  .desk-slide__image-container, .desk-slide__text-container {
    width: 50%;
  }
  .desk-slide__text-container {
    padding: 0 5% 0 6%;
  }
  .desk-slide__title-container {
    max-height: 6.7rem;
    overflow: hidden;
  }
  .desk-slide__title {
    font-family: "title-font", sans-serif;
    text-transform: uppercase;
    color: hsl(339, 77%, 48%);
    font-size: 3.75rem;
    margin: 0;
    line-height: 3.625rem;
    letter-spacing: 0.15rem;
  }
  .desk-slide__subtitle {
    font-family: "subtitle-font", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 18px 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .desk-slide__text {
    font-family: "text-font";
    margin: 0 0 34px;
    font-size: 0.813rem;
    line-height: 1.243rem;
    width: 393px;
  }
  .desk-slide__num-container {
    max-height: 1.7rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
  }
  .desk-slide__num {
    font-family: "text-font";
    font-size: 0.75rem;
  }
  .desk-slide__button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0.2rem 2rem;
    margin: 0;
    font-size: 0.813rem;
  }
  .desk-slide__image-container {
    max-height: 95vh;
    overflow-y: hidden;
    border-radius: 0.625rem;
  }
  .desk-slide__image {
    width: 100%;
    border-radius: 0.625rem;
    height: 95vh;
    object-fit: cover;
  }
  .desk-slide__text-img--left {
    margin-left: -8%;
    margin-top: 10%;
    margin: 10% 0 -20px -8%;
    width: 118.15px;
  }
  .desk-slide__text-img--right {
    width: 100px;
  }
  .desk-slide__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desk-slide__controls {
    display: flex;
    gap: 30px;
  }
  .desk-slide__arrow {
    margin-top: 50px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=index.css.map */
