.filter {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    letter-spacing: 0.049rem;
    font-family: "text-font", sans-serif;
    font-size: $subtitle-size;
    color: $listing-filter-color;

    &__container {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
    }

    &__num-products {
        line-height: 1.097rem;
    }

    &__text {
        line-height: 0.952rem;
    }

    &__img {
        width: 9px;
        // aspect-ratio: 9/4;
    }
}

.filters {
    position: fixed;
    height: 100vh;
    width: calc(100% - 20px);
    top: 0;
    right: 0;
    background-color: $bg-color;
    z-index: 2;
    font-family: "text-font", sans-serif;
    padding: 35px 30px 0 ;
    color: $text-color;
    display: none;
    overflow: auto;
    scroll-behavior: smooth;
    text-transform: uppercase;

    &__active{
        // font-weight: bold;
        // color: red;
        text-decoration: underline;
    }

    // closing 
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        margin: 25px 30px;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $text-color;
        z-index: 1;
        display: none;
    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
        line-height: 2.104rem;
        letter-spacing: 0.06rem;
        margin: 0 0 24px ;
    }

    &__filterBy {
        margin-bottom: 16px;
    }

    &__filterBy-list {
        list-style: none;
        padding: 0;
        border-top: solid #cccccc .02rem;
        margin: 1rem 0 2rem;
    }
    &__filterBy-item{
        margin-top: 16px;
        cursor: pointer;

    }

    &__filterBy-item:hover{
        font-weight: bold;
    }


    &__filterBy-title, &__filterBy-name{
        font-size: $subtitle-size;
        // letter-spacing: 0.053rem;
        margin: 0;

    }
    


}



.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    color: $listing-main-color;
    font-family: "text-font", "sans-serif";
    padding: 10px;
}

.card {
    display: flex;
    /* Utilisation de flexbox */
    flex-direction: column;
    /* Alignement vertical */
    margin-bottom: 30px;

    &__img-container {
        aspect-ratio: 188/230;
        margin-bottom: 15px;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 13.44px;
    }

    &__text-container {
        margin: 0 7px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
    }

    &__title {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.875rem;
        margin: 0;
    }

    &__subtitle {
        font-size: $subtitle-size;
        color: $listing-other-color;
        font-weight: normal;
        line-height: 1.25rem;
        margin: 1px 0;
    }

    &__price {
        font-weight: bold;
        line-height: 1.875rem;
        margin-top: auto;
    }

    &__loadingmore-container {
        text-align: center;
        padding-bottom: 34px;
    }

    &__loadingmore {
        padding: 15px 26px;
        cursor: pointer;
    }
}



@media(min-width:1000px) {
    .card-container {
        width: 95%;
        gap: 21px;
        margin: auto;
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        &__img-container {
            aspect-ratio: 321/393;
        }

        &__title,
        &__price {
            line-height: 2.104rem;
        }

        &__subtitle {
            line-height: 1.294rem;
        }

        &__loadingmore-container {

            padding-bottom: 184px;
        }

    }
}

