@import "globals";

.slides-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden;
    gap: 15px;
    padding: 0 30px;
    scroll-behavior: smooth;
}

.slide {

    &__image-container {
        aspect-ratio: 339/340;
    }

    &__image {
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
    }

    &__text-container {
        padding: 0 20px;
    }


    &__title {
        font-family: "title-font", sans-serif;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 2.5rem;
        line-height: 2.375rem;
        letter-spacing: .1rem;
        margin-bottom: 0;
        width: 240px;
    }


    &__subtitle {
        font-family: "subtitle-font", sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.375rem;
        margin: 7px 0 10px;
        width: 280px;
    }

    &__text {
        font-family: "text-font", sans-serif;
        font-size: $subtitle-size;
        line-height: 1.431rem;
        margin: 0 0 20px;
    }

    &__button {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 3.2px 16px;
        width: 100%;
    }

    &__button-text {
        font-weight: bold;
    }

    &__num {
        text-align: center;
        font-family: "text-font", sans-serif;
        font-size: .75rem;
        line-height: 1.5rem;
        margin-top: 20px;
    }
}

.desk-slides-container--show {
    display: none;
}

@media(min-width:1000px) {

    .slides-container--mobile {
        display: none;
    }

    .desk-slides-container--show {
        display: block;
    }


    .desk-slide {
        display: flex;
        align-items: center;
        height: 100vh;
        margin: auto 16px;

        &__image-container,
        &__text-container {
            width: 50%;
        }

        &__text-container {
            padding: 0 5% 0 6%;
        }

        &__title-container {
            max-height: 6.7rem;
            overflow: hidden;
        }

        &__title {
            font-family: "title-font", sans-serif;
            text-transform: uppercase;
            color: $primary-color;
            font-size: 3.75rem;
            margin: 0;
            line-height: 3.625rem;
            letter-spacing: 0.15rem;
        }

        &__subtitle {
            font-family: "subtitle-font", sans-serif;
            font-weight: normal;
            text-transform: uppercase;
            margin: 18px 0;
            font-size: 1.125rem;
            line-height: 1.5rem;
        }

        &__text {
            font-family: "text-font", sans-serif;
            margin: 0 0 34px;
            font-size: $subtitle-size;
            line-height: 1.243rem;
            width: 393px;
        }


        &__num-container {
            max-height: 1.7rem;
            overflow: hidden;
            margin-bottom: 1.2rem;
        }

        &__num {
            font-family: "text-font", sans-serif;
            font-size: 0.75rem;
        }

        &__button {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 3.2px 32px;
            margin: 0;
            font-size: .813rem;
            cursor: pointer;
        }

        &__image-container {
            max-height: 95vh;
            overflow-y: hidden;
            border-radius: 10px;
        }

        &__image {
            width: 100%;
            border-radius: 0.10px;
            height: 95vh;
            object-fit: cover;
        }

        &__text-img--left {
            margin: 10% 0 -20px -8%;
            width: 118.15px;
        }

        &__text-img--right {
            width: 100px;
        }

        &__bottom-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__controls {
            display: flex;
            gap: 30px;
        }

        &__arrow {
            margin-top: 50px;
            cursor: pointer;
        }
    }
}